:host {
  position: relative;
  height: 96px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

.next-btn {
  font-size: 36px;
  color: rebeccapurple
}
