:host {
  display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.title {
  font-size: 32px;
  height: 60px;
  z-index: 1;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
  // height: 300px;
}

.save-btn {
    font-size: 36px;
    color: rebeccapurple
}


app-power-pose {
  top: 60px;
}
